img{
    max-width: 100%;
}

/********* SLIDER SECTION **********/

.carousel-caption p{
    margin-bottom: 300px;
}

table tr td:first-child {
    font-weight: bold;
}


















